<!DOCTYPE html>
<html>
<head>
  <title>Whoop</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "whoop/application" %>
  <%= javascript_include_tag "whoop/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
